<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/masterLayout :: layout(~{::main})}"  xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
    <div class="container my-5">
        <div th:if="${success}" class="alert alert-success" role="alert">
            <small>Successfully saved.</small>
        </div>
        <h3 class="text-center">Housing Home Page</h3>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores aut dignissimos eaque est id, provident tempore temporibus! Accusantium blanditiis consequuntur, error fugit illum modi molestias nemo non quod tempora?</p>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores aut dignissimos eaque est id, provident tempore temporibus! Accusantium blanditiis consequuntur, error fugit illum modi molestias nemo non quod tempora?</p>
    </div>
</main>
</body>
</html>